<div class="banner1">
		<div class="w3_agileits_service_banner_info">
			<h2>Clients</h2>
		</div>
</div>
<div class="services two">
		<div class="container">
			<h3 class="w3l_header w3_agileits_header">View our <span>Clients</span></h3>
				<div class="col-md-12 col-sm-12 wthree_services_grid_left ">
					<p> We at Rightkey Solutions use a strategic approach 'one vendor - complete solutions'. Today, Rightkey is regarded as high quality and cost effective solution provider across the diverse practice areas of ERP, CRM, Microsoft Suite, Business Intelligence, Data Warehouse and Testing.
          <p> Our technology partners form the critical link to our valued customer relationships. We have strategic alliances, partnerships and mutually beneficial agreements with some of the leading names in the industry.</p>
          <p> We continue our quest for technology partners who can add the value of their best practices and proven methodologies to support our clients. Our partners help us to deliver superior services and greater value to its customers.
          </p>
          <p>We are committed to build, nurture and manage critical partnerships that enable the company to realize strategic objectives and deliver competitive differentiation for various clients' businesses
				  </p>
				</div>
        <div class="clearfix"> </div>
		</div>
		<div class="container">
			<div class="agileits_banner_bottom_grids">
				<div class="col-md-3 agileits_banner_bottom_grid">
					<div class="hovereffect w3ls_banner_bottom_grid">
						<img src="../assets/images/logos/tech.jpg" alt=" " class="img-responsive" />
					</div>
				</div>
				<div class="col-md-3 agileits_banner_bottom_grid">
					<div class="hovereffect w3ls_banner_bottom_grid">
						<img src="../assets/images/logos/opensystems.png" alt=" " class="img-responsive" />

					</div>
				</div>
				<div class="col-md-3 agileits_banner_bottom_grid">
					<div class="hovereffect w3ls_banner_bottom_grid">
						<img src="assets/images/logos/max.png" alt=" " class="img-responsive" />
					</div>
				</div>
				<div class="col-md-3 agileits_banner_bottom_grid">
					<div class="hovereffect w3ls_banner_bottom_grid">
						<img src="assets/images/logos/matrix.png" alt=" " class="img-responsive" />

					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="agileits_banner_bottom_grids two">
				<div class="col-md-3 agileits_banner_bottom_grid">
					<div class="hovereffect w3ls_banner_bottom_grid">
						<img src="assets/images/logos/marvell.png" alt=" " class="img-responsive" />
					</div>
				</div>
				<div class="col-md-3 agileits_banner_bottom_grid">
					<div class="hovereffect w3ls_banner_bottom_grid">
						<img src="assets/images/logos/jampani.png" alt=" " class="img-responsive" />
					</div>
				</div>
				<div class="col-md-3 agileits_banner_bottom_grid">
					<div class="hovereffect w3ls_banner_bottom_grid">
						<img src="assets/images/logos/exp.png" alt=" " class="img-responsive" />
					</div>
				</div>
				<div class="col-md-3 agileits_banner_bottom_grid">
					<div class="hovereffect w3ls_banner_bottom_grid">
						<img src="assets/images/logos/envir.png" alt=" " class="img-responsive" />
					</div>
				</div>
			</div>
		</div>
</div>
