<!--/ banner -->
<div class="banner1">

		<div class="w3_agileits_service_banner_info">
			<h2>ABOUT US</h2>
		</div>
</div>
<div class="stats-bottom contact">
		<div class="container">
			<h3 class="w3l_header w3_agileits_header">About <span>RightKey Solutions</span></h3>
			<div class="agileinfo_services_grids">
				<div class="col-md-4 agileinfo_services_grid">
					<div class="agileinfo_services_grid1">
						<h4>Global Delivery</h4>
						<p>Rightkey headquarters is located in Charlotte, NC. As a result of our success in the United States, We have opened our first international office in India, located in the Hitech City area of Hyderabad</p>
						<div class="agileinfo_services_grid1_pos">
							<span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
						</div>
					</div>
				</div>
				<div class="col-md-4 agileinfo_services_grid">
					<div class="agileinfo_services_grid1">
						<h4>Innovative Consulting</h4>
						<p>Business partnerships are the cornerstone of our very successful consulting and permanent placement services.Rightkey has formed strategic alliances with many of the largest and most respected Fortune 500 firms.</p>
						<div class="agileinfo_services_grid1_pos">
							<span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span>
						</div>
					</div>
				</div>
				<div class="col-md-4 agileinfo_services_grid">
					<div class="agileinfo_services_grid1">
						<h4>Professional Expertise</h4>
						<p>Rightkey can provide experienced professionals in most technical disciplines for complete project life cycle support and/or management. Our staff consists of experts in all information systems job functions.</p>
						<div class="agileinfo_services_grid1_pos">
							<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
						</div>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="w3agile_services_grids">
				<div class="col-md-4 agileinfo_services_grid">
					<div class="agileinfo_services_grid1">
						<h4>Services for Employees</h4>
						<p>For Employers, we offer:
							<li><i class="fa fa-long-arrow-right" aria-hidden="true"></i> Consulting Services</li>
							<li><i class="fa fa-long-arrow-right" aria-hidden="true"></i> Both long and short term</li>
							<li><i class="fa fa-long-arrow-right" aria-hidden="true"></i> Permanent Employees</li>
							<li><i class="fa fa-long-arrow-right" aria-hidden="true"></i> Complete Project Teams</li></p>
						<div class="agileinfo_services_grid1_pos">
							<span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
						</div>
					</div>
				</div>
				<div class="col-md-4 agileinfo_services_grid">
					<div class="agileinfo_services_grid1">
						<h4>Leading Edge Technology</h4>
						<p>Rightkey provides extensive technical resources covering a wide range of platforms. If your company needs Systems Programmer, Project Manager, WEB Developer, Rightkey has what you need.</p>
						<div class="agileinfo_services_grid1_pos">
							<span class="glyphicon glyphicon-flash" aria-hidden="true"></span>
						</div>
					</div>
				</div>
				<div class="col-md-4 agileinfo_services_grid">
					<div class="agileinfo_services_grid1">
						<h4>Our vision and aim</h4>
						<p>A Vision is for the future. We study the past and learn valuable lessons from it.With the help of you, we can move our vision to reality.</p>
						<div class="agileinfo_services_grid1_pos">
							<span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
						</div>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
<!-- //stats-bottom -->
