<!--/ banner -->
<div class="banner1">
		<div class="w3_agileits_service_banner_info">
			<h2>Services</h2>
		</div>
</div>

<!--/ banner -->
<div class="inner_main_agile_section">
	<div class="container">
	<h3 class="w3l_header w3_agileits_header"> View Our <span>Services</span></h3>
			<p class="sub_para_agile two"></p>
				<div class="agile_inner_grids">
            <ul class="simplefilter" class="nav nav-pills mb-3" id="pills-tab simplefilter" role="tablist">
								<li class="nav-item">
							    <a class="nav-link active" id="pills-training-tab" data-toggle="pill" href="#pills-st" role="tab" aria-controls="pills-home" aria-selected="true">Software Training</a>
							  </li>
							  <li class="nav-item">
							    <a class="nav-link" id="pills-consulting-tab" data-toggle="pill" href="#pills-consult" role="tab" aria-controls="pills-profile" aria-selected="false">Consulting</a>
							  </li>
							  <li class="nav-item">
							    <a class="nav-link" id="pills-development-tab" data-toggle="pill" href="#pills-sd" role="tab" aria-controls="pills-contact" aria-selected="false">Software Development</a>
							  </li>
								<li class="nav-item">
							    <a class="nav-link" id="pills-marketing-tab" data-toggle="pill" href="#pills-marketing" role="tab" aria-controls="pills-contact" aria-selected="false">Digital Marketing</a>
							  </li>
            </ul>
						<div class="tab-content" id="pills-tabContent">
						  <div class="tab-pane fade active in" id="pills-st" role="tabpanel" aria-labelledby="pills-training-tab">
								<div class="services two">
									<div class="container">
										<div class="agile_inner_grids">
											<div class="col-md-12 wthree_services_grid_left">
												<h3>Software <span>Training</span> </h3>
												<p> Rightkey provides the required training services for professionals to be successful in their ongoing projects. Rightkey’s technical mentors provide knowledge transfer in real-time applications with an emphasis on a thorough understanding of the technology. We have a dedicated team with strong technical expertise that constantly focuses on upcoming technologies and have relevant industry experience.We specialize in providing training and consultation on
												<h6>We specialize in providing training and consultation on </h6>
											</div>
										</div>
										<div class="row">
											<div class="col-md-4 col-sm-6 col-xs-12 col-md-offset-2">
												<ul class="technologies">
													<li><i class="fa fa-long-arrow-right" aria-hidden="true"></i>  Full stack Development</li>
													<li><i class="fa fa-long-arrow-right" aria-hidden="true"></i>  DevOps</li>
													<li><i class="fa fa-long-arrow-right" aria-hidden="true"></i>  Data Science</li>
													<li><i class="fa fa-long-arrow-right" aria-hidden="true"></i>  Hadoop</li>
												</ul>
											</div>
											<div class="col-md-4 col-sm-6 col-xs-12">
												<ul class="technologies">
													<li><i class="fa fa-long-arrow-right" aria-hidden="true"></i>  AWS </li>
													<li><i class="fa fa-long-arrow-right" aria-hidden="true"></i>  Oracle Fusion </li>
													<li><i class="fa fa-long-arrow-right" aria-hidden="true"></i>  Python</li>
													<li><i class="fa fa-long-arrow-right" aria-hidden="true"></i>  Salesforce</li>
												</ul>
											</div>
										</div>
										<div class="row training-details">
											<h6>Online Training </h6>
											<p>Our online virtual classroom is the easiest, quickest, and most cost-effective way to obtain training. When you need to be up and running in the most time-efficient manner, our virtual classroom is the way to go! Users receive comprehensive training over the internet for any version of our software and modules.</p>
											<h6>Classroom training</h6>
											<p>Our classroom training sessions are a great way to obtain comprehensive face-to-face training. Users receive comprehensive training in a professional classroom setting for any version of modules mentioned above. The training option is flexible and lets you to cover the courses for your own educational requirements.</p>
											<h6>On-site Training</h6>
											<p>We offer flexible, on-site training for our clients. Users receive comprehensive training in the setting of your choice - at your location - for any version of our software and modules. Rightkey ensures the highest level of training and accuracy.</p>
										</div>
									</div>
							</div>
							</div>
							<div class="tab-pane fade" id="pills-consult" role="tabpanel" aria-labelledby="pills-consulting-tab">
								<div class="services two">
										<div class="agile_inner_grids">
											<div class="col-md-12 wthree_services_grid_left">
												<h3>Consulting <span>Services</span> </h3>
												<p> All projects require the same level of attention to both technical and administrative detail. No matter what aspect of the project life cycle is being addressed, the manager is ultimately responsible for the successful implementation.</p>
												<p>After providing services to corporations for over two decades in nearly every major industry, Rightkey can offer experts in Management Consulting to implement information systems solutions to your business problem. Whether your business needs an ERP solution to run the entire business or a Project Manager to monitor and take the solution to the next level, Rightkey is there with the resources to successfully manage the project activities.</p>
												<p> The team approach functioning under a strong manager makes for projects that are completed on time in the most cost effective manner. Let our seasoned professionals be the guiding light throughout the project life cycle.</p>
											</div>
										</div>
								</div>
							</div>
							<div class="tab-pane fade" id="pills-sd" role="tabpanel" aria-labelledby="pills-development-tab">
								<div class="services two">
										<div class="agile_inner_grids">
											<div class="col-md-12 wthree_services_grid_left">
												<h3>Software <span>Development</span> </h3>
												<p>Software Development Technology is developing every day. Disaster Recovery has become the watchword of every business computer system. Desktops, laptops, and Smart Phone devices all form a part of the business environment.</p>
												<p> Whether you need to develop these new technologies, upgrade some obsolete applications, or just provide maintenance to existing software, Rightkey can provide the expertise to do it all. With an extensive number of success stories across multiple industries, our development staff can provide nearly any technology or discipline that your business might require.</p>
												<p> Our staff of Analysts, Programmers, Testers, QA Specialists, DBA’s, and Technical Writers have extensive experience in multiple industries and applications. Let us demonstrate our skills and lead your business to a new path of success.</p>
											</div>
										</div>
								</div>
							</div>
							<div class="tab-pane fade" id="pills-marketing" role="tabpanel" aria-labelledby="pills-marketing-tab">
								<div class="services two">
										<div class="agile_inner_grids">
											<div class="col-md-12 wthree_services_grid_left">
												<h3>Digital <span>Marketing	</span> </h3>
												<p>Enhance your business with our platform</p>
												<p> Whether you need to develop these new technologies, upgrade some obsolete applications, or just provide maintenance to existing software, Rightkey can provide the expertise to do it all. With an extensive number of success stories across multiple industries, our development staff can provide nearly any technology or discipline that your business might require.</p>
											</div>
										</div>
								</div>
							</div>

						 </div>
					</div>
		</div>
</div>


<!-- services -->
