<div id="myCarousel" class="carousel slide">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active" contenteditable="false"></li>
        <li data-target="#myCarousel" data-slide-to="1" class="" contenteditable="false"></li>
        <li data-target="#myCarousel" data-slide-to="2" class="" contenteditable="false"></li>
    </ol>
    <div class="carousel-inner">
        <div class="item active">
            <img src="../assets/images/banner.jpg" alt="" class="img-responsive">
            <div class="carousel-caption">
                <h4 class="">Software Training</h4>
                <p class="subtitle">
                   Enhance your skills
                </p>
            </div>
        </div>
        <div class="item">
            <img src="../assets/images/banner1.jpg" alt="" class="img-responsive">
            <div class="carousel-caption">
                <h4 class="">Consulting</h4>

                <p class="subtitle">
                   Planning Your Dream
                </p>
            </div>
        </div>
        <div class="item" style="">
            <img src="../assets/images/banner2.jpg" alt="" class="img-responsive">
            <div class="carousel-caption">
                <h4 class="">Software Development</h4>
                            <p class="subtitle">
                   Grow Your Business.
                </p>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
</div>
<div class="clearfix"> </div>
<!-- about -->
	<div class="inner_main_agile_section" >
		<div class="container">
		<h6>What makes us different</h6>
		<h3 class="w3l_header w3_agileits_header">About <span>Us</span></h3>
		<p class="sub_para_agile two"></p>

			<div class="agile_inner_grids">

				<div class=" w3_agileits_about_grid_left " >
					<p>Rightkey Solutions is a professional consulting firm specializing in
             information systems utilizing state-of-the-art technologies. Incorporated in 2007
             with over 10 years of continued success,
             we have established a reputation for committed on time delivery of
             projects and have provided superior skilled staff members to supplement
             project resources to many of the Fortune 500 companies. We take great pride in our business relationships that have continued to prosper throughout our history and look forward to expanding our services with new clients..
              We are a privately-owned minority corporation with the capabilities to meet the needs of
              major corporations and the demands for never-ending changes in technology. </p>
					<ul>
						<li><i class="fa fa-long-arrow-right" aria-hidden="true"></i>Training for Leading Edge Technologies</li>
						<li><i class="fa fa-long-arrow-right" aria-hidden="true"></i>Consulting</li>
						<li><i class="fa fa-long-arrow-right" aria-hidden="true"></i>Software Development</li>
						<li><i class="fa fa-long-arrow-right" aria-hidden="true"></i>Digital Marketing</li>
					</ul>
				</div>

				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
<!-- //about -->

	<div class="banner-bottom" style="margin-top:0px;padding-top:0px">
		<div class="container">

		<h3 class="w3l_header w3_agileits_header" >Software <span>Trainings</span></h3>
			<p class="sub_para_agile">Check services section for complete list of trainings</p>
			<div class="agileits_banner_bottom_grids">
				<div class="col-md-3 agileits_banner_bottom_grid">
					<div class="hovereffect w3ls_banner_bottom_grid">
						<img src="assets/images/1.jpg" alt=" " class="img-responsive" />
						<div class="overlay">
						   <h4>Full Stack Development</h4>

						</div>
					</div>
				</div>
				<div class="col-md-3 agileits_banner_bottom_grid">
					<div class="hovereffect w3ls_banner_bottom_grid">
						<img src="assets/images/2.jpg" alt=" " class="img-responsive" />
						<div class="overlay">
						   <h4>DevOps</h4>

						</div>
					</div>
				</div>
				<div class="col-md-3 agileits_banner_bottom_grid">
					<div class="hovereffect w3ls_banner_bottom_grid">
						<img src="assets/images/3.jpg" alt=" " class="img-responsive" />
						<div class="overlay">
						   <h4>Data Science</h4>
						</div>
					</div>
				</div>
				<div class="col-md-3 agileits_banner_bottom_grid">
					<div class="hovereffect w3ls_banner_bottom_grid">
						<img src="assets/images/4.jpg" alt=" " class="img-responsive" />
						<div class="overlay">
						   <h4>Hadoop</h4>
						</div>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="agileits_banner_bottom_grids two">
				<div class="col-md-3 agileits_banner_bottom_grid">
					<div class="hovereffect w3ls_banner_bottom_grid">
						<img src="assets/images/5.jpg" alt=" " class="img-responsive" />
						<div class="overlay">
						   <h4>AWS</h4>

						</div>
					</div>
				</div>
				<div class="col-md-3 agileits_banner_bottom_grid">
					<div class="hovereffect w3ls_banner_bottom_grid">
						<img src="assets/images/6.jpg" alt=" " class="img-responsive" />
						<div class="overlay">
						   <h4>Oracle Fusion</h4>

						</div>
					</div>
				</div>
				<div class="col-md-3 agileits_banner_bottom_grid">
					<div class="hovereffect w3ls_banner_bottom_grid">
						<img src="assets/images/7.jpg" alt=" " class="img-responsive" />
						<div class="overlay">
						   <h4>Python</h4>

						</div>
					</div>
				</div>
				<div class="col-md-3 agileits_banner_bottom_grid">
					<div class="hovereffect w3ls_banner_bottom_grid">
						<img src="assets/images/8.	jpg" alt=" " class="img-responsive" />
						<div class="overlay">
						   <h4>Salesforce</h4>

						</div>
					</div>
				</div>
			</div>
		</div>
</div>
